PAYLOAD_SECRET=YOUR_SECRET_HERE
DATABASE_URL=postgresql://USER:PASSWORD@ep-xxx-pooler.REGION.aws.neon.tech/DB?sslmode=require
BLOB_READ_WRITE_TOKEN=

NEXT_PUBLIC_SERVER_URL=https://www.lpnfoundation.org
